<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">

<head>
<title>Please Log In</title>
</head>

<body>

	<div class="card-body">
		
		<h2>Please Log In</h2>		
		
		<form th:action="@{/doLogin}" method="post">
			<div th:if="${param.error}" class="text-danger">
				Invalid	username or password.
			</div>
			<div>
				<input type="text" name="username" placeholder="Username" /><br> 
				<input type="password" name="password" placeholder="Password" /><br> 
				<input type="submit" value="Log in" />
			</div>
		</form>
		
	</div>
	
</body>

</html>