<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Bean definition with custom init and destroy methods -->
    <bean id="hw" class="com.spring_core_bean_lifecycle.beans.HelloWorld"
          init-method="init"
          destroy-method="destroy"/>
</beans>